header {
  height: 300px;
}
.container {
  background-color: rgb(153, 64, 236);
}
footer {
  background-color: gold;
  height: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo-menu {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 20px;
  padding: 0 0 0 24px;
}
.btn {
}
.btn-primary {
  background-color: rgb(0, 103, 238);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn-secondary {
  background-color: rgb(201, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
