body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(197, 198, 145);
}
header {
  margin: 0px 40px;
}
nav {
  background-color: rgb(197, 198, 145);
  display: flex;
  justify-content: space-between;
}
.container {
  width: 70%;
  margin: auto;
}
.card {
  background-color: rgb(234, 234, 234);
  padding: 20px;
  border-radius: 20px;
  margin-top: 15px;
}
.card img {
  width: 100%;
  border-radius: 15px;
}
footer {
  background-color: rgb(126, 132, 0);
  height: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  line-height: 0;
  margin-top: 15px;
  p {
    color: white;
  }
}
.logo-manu {
  display: flex;

  justify-content: space-be tween;
  align-items: center;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(255, 255, 255);
}
.manu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 10px;
  padding: 0 0 0 24px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-r {
  background-color: rgb(81, 164, 3);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}
.btn-r:hover {
  background-color: rgb(15, 255, 15, 0.541);
  color: rgb(0, 0, 0);
}
.btn-l {
  background-color: rgb(255, 255, 255);
  color: rgb(1, 158, 7);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}
.btn-l:hover {
  background-color: rgba(15, 255, 15, 0.541);
  color: rgb(0, 0, 0);
}
.manu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.manu ul li a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
